/* stylelint-disable order/order */
.footer {
  padding-bottom: 20px;

  .ticker {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;

    &__wrapper {
      display: flex;
      padding: 50px 0;
      background-color: var(--color-red);

      @include mobile-l {
        padding: 25px 0;
      }
    }

    &__item {
      flex-shrink: 0;
      padding: 0 30px;
      width: 100%;
      max-width: 430px;
      font-weight: 400;
      font-size: 58px;
      line-height: 120%;
      letter-spacing: 1px;
      white-space: nowrap;
      text-transform: uppercase;
      color: var(--color-white);
      animation: ticket 20s linear infinite;

      @include mobile-l {
        font-size: 48px;
      }
    }

    @keyframes ticket {
      0% {
        transform: translateZ(0);
      }

      100% {
        transform: translate3d(-100%, 0, 0);
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;

    @include big-desktop {
      padding: 0;
    }

    @include mobile-l {
      flex-wrap: wrap;
    }
  }

  &__left {
    margin-bottom: 50px;
    max-width: 495px;
  }

  &__logo .logo {
    margin-bottom: 30px;
    max-width: 90px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-text);
  }

  &__list {
    display: flex;

    @include mobile-m {
      display: block;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--color-red);
    }

    @include mobile-m {
      display: block;
      padding: 15px 0;
    }
  }

  &__right {
    width: 100%;
    max-width: 351px;

    @include mobile-l {
      margin-bottom: 30px;
      max-width: unset;
    }
  }

  &__social {
    justify-content: end;
    margin-right: 15px;
    margin-bottom: 30px;

    @include mobile-m {
      margin-right: 0;
    }
  }

  &__social-item {
    align-items: end;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    background-position: left;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    transition: color 0.3s ease-in-out;

    &--insta {
      svg {
        margin-right: 7px;
        fill: #d6249f;
      }

      &:hover {
        color: #d6249f;
      }
    }

    &--twitter {
      svg {
        margin-right: 7px;
        fill: #00acee;
      }

      &:hover {
        color: #00acee;
      }
    }

    &--dribble {
      svg {
        margin-right: 7px;
        fill: #ea4c89;
      }

      &:hover {
        color: #ea4c89;
      }
    }
  }

  &__contacts-inner {
    display: flex;
    flex-direction: column;
    max-width: 350px;

    @include mobile-l {
      max-width: unset;
    }
  }

  &__mail,
  &__phone {
    display: flex;
    justify-content: end;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: end;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--color-red);
    }
  }

  &__mail {
    margin-bottom: 12px;
  }

  &__copyright-inner {
    align-items: center;
    padding: 0 120px;

    @include big-desktop {
      padding: 0;
    }

    @include mobile-m {
      display: block;
    }
  }

  &__copy-left {
    margin-right: 30px;

    @include mobile-m {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__copy,
  &__template {
    margin-right: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--color-footer-copy);
  }

  &__copy-author,
  &__template-author {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
  }
}
