.hero {
  position: relative;
  padding-top: 145px;
  padding-bottom: 54px;

  &__container {
    position: relative;
    display: flex;
  }

  &__title {
    margin-bottom: 91px;
    text-align: left;
  }

  &__mouse-link {
    position: relative;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 20px;
    height: 29px;
    background-image: url("../img/hero-mouse-link-icon.svg");
    background-position: left;
    background-size: 20px 29px;
    background-repeat: no-repeat;
  }

  &__arrow-link {
    position: absolute;
    right: 0;
    bottom: -22px;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-image: url("../img/hero-arrow-right-icon.svg");
    background-position: right;
    background-size: 46px 46px;
    background-repeat: no-repeat;
  }

  .social {
    position: absolute;
    right: 45px;
    top: 27%;
    bottom: 50%;
    transform: translate(-50%, -50%);

    &__social-item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__social-link {
      padding-top: 23px;
      font-weight: 400;
      font-size: 11px;
      line-height: 20px;
      writing-mode: vertical-lr;
      background-position: top;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      transform: rotate(0deg);

      &--insta {
        background-image: url("../img/hero-instagram-icon.svg");
      }

      &--twitter {
        background-image: url("../img/hero-twitter-icon.svg");
      }

      &--dribble {
        background-image: url("../img/hero-dribble-icon.svg");
      }
    }
  }
}
