.hero {
  position: relative;
  padding-top: 145px;
  padding-bottom: 54px;

  @include desktop {
    padding-top: 70px;
  }

  @include mobile-l {
    padding-top: 50px;
  }

  &__container {
    position: relative;
    display: flex;
  }

  &__title {
    margin-bottom: 91px;
    max-width: 960px;
    text-align: left;

    @include macbook {
      margin-bottom: 70px;
    }

    @include mobile-l {
      max-width: 520px;
    }
  }

  &__mouse-link {
    position: relative;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 20px;
    height: 29px;
    background-image: url("../img/hero-mouse-link-icon.svg");
    background-position: left;
    background-size: 20px 29px;
    background-repeat: no-repeat;
  }

  &__arrow-link {
    position: absolute;
    right: 0;
    bottom: -22px;
    display: inline-block;
    border-radius: 5px;
    width: 46px;
    height: 46px;
    background-image: url("../img/hero-arrow-right-link.svg");
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: #191b25;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-border-bottom);
    }

    @include desktop {
      right: 15px;
    }

    @include mobile-m {
      left: 15%;
      top: 74%;
    }
  }
}
