/* stylelint-disable keyframes-name-pattern */
.team {
  padding-top: 100px;

  @include desktop {
    padding-top: 50px;
  }

  @include mobile-m {
    padding-top: 30px;
  }

  &__container {
    @include big-desktop {
      padding: 0 15px;
    }
  }

  &__top-showreel {
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 60px;

    picture {
      &:nth-child(1) {
        display: block;
        margin-right: 40px;
        max-width: 580px;

        @include desktop {
          margin-right: 0;
        }
      }
    }

    @include desktop {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 50px;
    }
  }

  &__img-left-wrapper {
    width: 100%;
    max-width: 800px;
  }

  &__img-left {
    // display: block;
    // margin-right: 40px;
    // max-width: 580px;

    @include desktop {
      // margin-right: 0;
      margin-bottom: 25px;
      max-width: unset;
    }

    @include mobile-m {
      max-height: 350px;
    }
  }

  &__btn {
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 11px;
      height: 14px;
      background-image: url("../img/team-btn-icon.png");
      background-position: center;
      background-size: 11px 14px;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }
  }

  &__img-right-wrapper {
    position: absolute;
    right: -18%;
    width: 100%;
    max-width: 800px;

    @include big-desktop {
      position: relative;
      right: 0;
    }
  }

  &__img-right {
    @include mobile-m {
      max-height: 350px;
    }
  }

  &__descr {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
    padding: 0 120px;

    @include desktop {
      justify-content: center;
      padding: 0;
    }

    @include mobile-l {
      flex-wrap: wrap;
    }

    @include mobile-m {
      margin-bottom: 80px;
    }
  }

  &__title {
    width: 100%;
    max-width: 385px;

    @include desktop {
      margin-right: 50px;
    }

    @include macbook {
      width: unset;
      max-width: unset;
      text-align: center;
    }

    @include mobile-l {
      margin-right: 0;
      margin-bottom: 30px;
      width: unset;
      max-width: unset;
    }

    @include mobile-m {
      font-size: 42px;
    }
  }

  &__text-inner {
    width: 100%;
    max-width: 430px;

    @include macbook {
      max-width: 550px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-text);

    @include mobile-l {
      font-size: 18px;
    }
  }

  &__link-btn {
    display: inline-block;
    border-radius: 4px;
    padding: 12px 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--color-red);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      color: var(--color-black);
      background-color: var(--color-white);
    }
  }

  &__partners {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    min-height: 150px;
    max-width: 550px;

    @include mobile-m {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 15px;
    }
  }

  &__item {
    margin: auto;

    @include mobile-m {
      margin-bottom: 20px;
    }
  }

  &__logo-link {
    display: inline-block;
    width: 100%;
    max-width: 160px;
    background-position: center;
    background-repeat: no-repeat;

    &--snowflake {
      width: 160px;
      height: 53px;
      background-image: url("../img/team-snowflake-logo.svg");
    }

    &--mouf {
      width: 45px;
      height: 54px;
      background-image: url("../img/team-mouf-logo.svg");
    }

    &--spage {
      width: 120px;
      height: 13px;
      background-image: url("../img/team-spage-logo.svg");
    }

    &--webflow {
      width: 105px;
      height: 26px;
      background-image: url("../img/team-webflow-logo.svg");
    }

    &--rice {
      width: 135px;
      height: 61px;
      background-image: url("../img/team-rice-logo.svg");
    }

    &--aoob {
      width: 100px;
      height: 24px;
      background-image: url("../img/team-aoob-logo.svg");
    }
  }

  &__more-anchor {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 140px;
    border-bottom: 1px solid var(--color-border-bottom);
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;

    &:hover {
      border-bottom: 1px solid var(--color-red);
      color: var(--color-red);
    }

    @include mobile-m {
      margin-bottom: 70px;
    }
  }

  &__work-subtitle {
    margin-bottom: 60px;

    @include mobile-l {
      margin-bottom: 40px;
      font-size: 72px;
    }

    @include mobile-m {
      font-size: 52px;
    }
  }

  &__work {
    display: block;
    margin: 0 auto;
    max-width: 1440px;
  }

  &__work-container {
    @include desktop {
      padding: 0 15px;
    }
  }

  &__work-list {
    display: flex;
    justify-content: center;

    @include desktop {
      // justify-content: center;
    }

    @include mobile-m {
      flex-wrap: wrap;
    }
  }

  &__work-item {
    @include desktop {
      margin-bottom: 30px;
    }

    @include mobile-m {
      // margin-bottom: 15px;
      margin-bottom: 0;
    }
  }

  &__item-link {
    // display: block;
  }

  &__item-image {
    width: 100%;
    height: 100%;
    max-width: 480px;

    @include mobile-m {
      // height: 100%;
      // max-height: 350px;
    }
  }

  &__btn-inner {
    position: relative;
    padding: 41px 0;
    background-color: var(--color-red);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #000;
      background-color: #fff;
    }

    @include mobile-m {
      padding: 25px 0;
    }
  }

  &__btn-link {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 15px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    letter-spacing: 1px;
    white-space: nowrap;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    transition: border 0.3s ease-in-out;
  }

  .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 156px;
    height: 156px;
    background-color: var(--color-red);
    transform: translate(-50%, -50%);
    transition: color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    @include desktop {
      top: 45.8%;
    }

    @include mobile-m {
      top: 50%;
      width: 120px;
      height: 120px;
    }

    &__text-btn {
      width: 100%;
      height: 100%;
      font-weight: 700;
      letter-spacing: 0;
      text-transform: uppercase;
      animation: rotateText 10s linear infinite;

      span {
        position: absolute;
        top: 5%;
        color: var(--color-white);
        transform-origin: 0 69px;

        @include mobile-m {
          transform-origin: 0 53px;
        }
      }
    }

    &:hover {
      background-color: var(--color-text);
    }

    &:hover span {
      color: #000;
    }
  }

  @keyframes rotateText {
    100% {
      transform: rotate(360deg);
    }

    0% {
      transform: rotate(0deg);
    }
  }
}
