<section class="blog">
  <div class="container blog__container">
    <h2 class="blog__title title centered">From Blog</h2>
    <ul class="blog__list list-reset">
      <li class="blog__item">
        <article class="blog__content content">
          <img class="content__image" src="img/blog-image-first.jpg" width="393" height="304" loading="lazy"
            alt="blog image - man sorting out purchases after shopping">
          <div class="content__inner">
            <a class="content__label" href="#">#Marketing</a>
            <h3 class="content__subtitle">Curating a&nbsp; workplace that inspires all of us</h3>
            <a class="content__more-link" href="#">Read More</a>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog__content content">
          <img class="content__image" src="img/blog-image-second.jpg" width="393" height="304" loading="lazy"
            alt="blog image - several men are dressed in different designer clothes">
          <div class="content__inner">
            <a class="content__label content__label--second" href="#">#Design</a>
            <h3 class="content__subtitle">Designers who changed the web with Webflow</h3>
            <a class="content__more-link" href="#">Read More</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
