<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__content">
      <img class="contacts__image" src="img/contacts-image.jpg" width="800" height="533"
        alt="woman filling out documents at the table">
      <div class="contacts__form-inner">
        <h2 class="contacts__title title">Contact Us</h2>
        <form class="contacts__form" action="" name="contacts-form">
          <label class="contacts__label" for="name">
            <input class="contacts__form-name" placeholder="Name*" type="text" id="name" name="name">
          </label>
          <label class="contacts__label" for="email">
            <input class="contacts__form-email" placeholder="Email*" type="email" id="email" name="email">
          </label>
          <label class="contacts__label" for="url">
            <input class="contacts__form-url" placeholder="Website URL*" type="url" id="url" name="url">
          </label>
          <label class="contacts__label" for="textarea">
            <textarea class="contacts__form-details" placeholder="Project Details*" id="textarea"
              name="project-details"></textarea>
          </label>
          <button class="contacts__form-btn btn-reset" type="submit">Send Proposal</button>
        </form>
      </div>
    </div>
  </div>
</section>
