<section class="experiences">
  <div class="container experiences__container">
    <div class="experiences__content">
      <h2 class="experiences__title title">We Build EXPERIENCES</h2>
      <ul class="experiences__list list-reset">
        <li class="experiences__item">
          <span class="experiences__image experiences__image--left"></span>
          <div class="experiences__text-inner">
            <h3 class="experiences__subtitle">Prototyping</h3>
            <p class="experiences__descr experiences__descr--left">Make sure you're building the right product.</p>
          </div>
        </li>
        <li class="experiences__item">
          <span class="experiences__image experiences__image--center"></span>
          <h3 class="experiences__subtitle">Web Design</h3>
          <p class="experiences__descr experiences__descr--center">Attract and engage your customers with a website.</p>
        </li>
        <li class="experiences__item">
          <span class="experiences__image experiences__image--right"></span>
          <h3 class="experiences__subtitle">Development</h3>
          <p class="experiences__descr experiences__descr--right">
            Ensure your site performs up to your users' standards.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
