<section class="facts">
  <div class="container facts__container">
    <h2 class="facts__title centered">Fun Facts</h2>
    <ul class="facts__list list-reset">
      <li class="facts__item facts__item--first">
        <span class="facts__number">10</span>
        <span class="facts__number-descr">Years on market</span>
      </li>
      <li class="facts__item facts__item--second">
        <span class="facts__number">340+</span>
        <span class="facts__number-descr">Project done</span>
      </li>
      <li class="facts__item facts__item--third">
        <span class="facts__number">17</span>
        <span class="facts__number-descr">Hero's member</span>
      </li>
      <li class="facts__item facts__item--fourth">
        <span class="facts__number">900+</span>
        <span class="facts__number-descr">Cups of coffee</span>
      </li>
    </ul>
  </div>
</section>
