<footer class="footer">
  <div class="ticker">
    <div class="ticker__wrapper">
      <div class="ticker__item">Contact Us</div>
      <div class="ticker__item">Contact Us</div>
      <div class="ticker__item">Contact Us</div>
      <div class="ticker__item">Contact Us</div>
      <div class="ticker__item">Contact Us</div>
      <div class="ticker__item">Contact Us</div>
      <div class="ticker__item">Contact Us</div>
      <div class="ticker__item">Contact Us</div>
      <div class="ticker__item">Contact Us</div>
    </div>
  </div>
  <div class="container footer__container">
    <div class="footer__inner">
      <div class="footer__left">
        <a class="footer__logo">
          <img class="logo" src="img/footer-logo.png" width="90" height="25" alt="footer site logo">
        </a>
        <p class="footer__descr">
          Görm is an award UI/UX designs and branding agency based in New York, USA.
        </p>
        <nav class="footer__nav">
          <ul class="footer__list list-reset">
            <li class="footer__item"><a class="footer__link" href="#">Home</a></li>
            <li class="footer__item"><a class="footer__link" href="#">About</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Style Guide</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Licensing</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Instructions</a></li>
          </ul>
        </nav>
      </div>

      <div class="footer__right">
        <ul class="footer__social flex list-reset">
          <li class="footer__social-item">
            <a class="footer__social-link footer__social-link--insta" href="#">Instagram</a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link footer__social-link--twitter" href="#">Twitter</a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link footer__social-link--dribble" href="#">Dribble</a>
          </li>
        </ul>
        <a class="footer__mail" href="mailto:hello@görm.com">hello@görm.com</a>
        <a class="footer__phone" href="tel:+10042145700">+1 (004) 214 5700</a>
      </div>
    </div>

    <div class="footer__copyright-inner flex">
      <div class="footer__copy-left">
        <small class="footer__copy">© This is a</small>
        <span class="footer__copy-author">Deni Bozo</span>
      </div>
      <div class="footer__copy-right">
        <small class="footer__template">Template powered by</small>
        <span class="footer__template-author">Webflow</span>
      </div>
    </div>
  </div>
</footer>
