<header class="header">
  <div class="header__container flex">
    <div class="header__info-inner flex">
      <a class="logo" href="#">
        <picture>
          <source srcset="img/logo.avif" type="image/avif">
          <source srcset="img/logo.webp" type="image/webp">
          <source srcset="img/logo.jpg">
          <img src="img/logo.png" width="27" height="36" alt="site logo">
        </picture>
      </a>
      <div class="header__info-link-inner">
        <a class="header__info-link header__info-link--studio" target="_blank" href="#">Branding & Design Studio</a>
        <a class="header__info-link header__info-link--newyork" target="_blank" href="#">Double Bay 2028, New York</a>
      </div>
    </div>
    <button class="hamburger hamburger--spring" type="button"
      aria-label="menu button to open additional sections of site navigation" aria-controls="navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <nav class="header__nav">
      <ul class="header__nav-list list-reset">
        <li class="header__nav-item">
          <a class="header__nav-link" href="#">Home</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#">About</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#">Style Guide</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#">Licensing</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#">Instructions</a>
        </li>
      </ul>
      <div class="header__info-link-inner header__info-link-inner--nav">
        <a class="header__info-link header__info-link--studio header__info-link--innav" href="#">Branding & Design
          Studio</a>
        <a class="header__info-link header__info-link--newyork header__info-link--innav" href="#">Double Bay 2028, New
          York</a>
      </div>
    </nav>
    <div class="header__user">
      <button class="header__user-cart header__user-cart--cart btn-reset" type="button" value="0"
        aria-label="shopping cart button">0</button>
      <a class="header__user-link btn-reset" href="#">Contact Us</a>
    </div>
  </div>
</header>
