<section class="hero">
  <div class="container hero__container">
    <div class="hero__title-inner">
      <h1 class="hero__title big-title">
        Branding &
        Digital Design
        studio.
      </h1>
      <a class="hero__mouse-link" href="#"></a>
    </div>
    <ul class="social list-reset">
      <li class="social__social-item">
        <a class="social__social-link social__social-link--insta" href="#">Instagram</a>
      </li>
      <li class="social__social-item">
        <a class="social__social-link social__social-link--twitter" href="#">Twitter</a>
      </li>
      <li class="social__social-item">
        <a class="social__social-link social__social-link--dribble" href="#">Dribble</a>
      </li>
    </ul>
    <a class="hero__arrow-link" href="#"></a>
  </div>
</section>
