<section class="skills">
  <div class="container skills__container">
    <div class="skills__left">
      <h2 class="skills__title title">Our Skills</h2>
      <ul class="skills__list list-reset">
        <li class="skills__item">
          <div class="skills__progress-info">
            <label class="skills__name" for="file">Graphic Design</label>
            <span class="skills__percent">80%</span>
          </div>
          <progress class="skills__progress" id="file" max="100" value="80"></progress>
        </li>
        <li class="skills__item">
          <div class="skills__progress-info">
            <label class="skills__name" for="file">Lead Generation</label>
            <span class="skills__percent">41%</span>
          </div>
          <progress class="skills__progress" id="file" max="100" value="41"></progress>
        </li>
        <li class="skills__item">
          <div class="skills__progress-info">
            <label class="skills__name" for="file">Photoshop</label>
            <span class="skills__percent">70%</span>
          </div>
          <progress class="skills__progress" id="file" max="100" value="70"></progress>
        </li>
        <li class="skills__item">
          <div class="skills__progress-info">
            <label class="skills__name" for="file">Illustration</label>
            <span class="skills__percent">100%</span>
          </div>
          <progress class="skills__progress" id="file" max="100" value="100"></progress>
        </li>
      </ul>
      <p class="skills__notes">* Companies we've helped build their website with Görm</p>
    </div>

    <div class="skills__right">
      <img class="skills__image" src="img/skills-image.jpg" width="800" height="533" loading="lazy"
        alt="the guy in the office sat down on the table with a cup of coffee in his hands">
    </div>
  </div>
</section>
