<section class="team">
  <div class="container team__container">
    <div class="team__top">
      <div class="team__top-showreel flex">
        <picture class="team__img-left-wrapper">
          <source srcset="img/team-img-left.avif" type="image/avif">
          <source srcset="img/team-img-left.webp" type="image/webp">
          <img class="team__img-left" src="img/team-img-left.jpg" width="580" height="447" loading="lazy"
            alt="the guy in the office sits at the table and takes notes in a notebook">
        </picture>
        <!-- <img class="team__img-left" src="img/team-img-left.jpg" width="580" height="447" loading="lazy"
          alt="the guy in the office sits at the table and takes notes in a notebook"> -->
        <div class="team__btn circle">
          <button class="circle__text-btn btn-reset" type="button">Play Showreel</button>
        </div>
        <picture class="team__img-right-wrapper">
          <source srcset="img/team-img-right.avif" type="image/avif">
          <source srcset="img/team-img-right.webp" type="image/webp">
          <img class="team__img-right" src="img/team-img-right.jpg" width="800" height="533" loading="lazy"
            alt="two men are sitting at a table in the office discussing a project">
        </picture>

      </div>
      <div class="team__descr flex">
        <h2 class="team__title title">
          We're a&nbsp; creative digital studio
        </h2>
        <div class="team__text-inner">
          <p class="team__text">
            We are a forward-thinking team of designers and developers driven by passion — and fuelled by curiosity.
          </p>
          <p class="team__text">
            We believe that the human dimensions essential to start any successful project and that this is where
            splendid emotional relationships between the company and people are born.
          </p>
          <a class="team__link-btn" href="#">Meet The Team</a>
        </div>
      </div>
      <div class="team__partners">
        <h3 class="team__subtitle centered">
          Teams and companies we work with
        </h3>
        <ul class="team__list list-reset">
          <li class="team__item">
            <a class="team__logo-link team__logo-link--snowflake" href="#"></a>
          </li>
          <li class="team__item">
            <a class="team__logo-link team__logo-link--mouf" href="#"></a>
          </li>
          <li class="team__item">
            <a class="team__logo-link team__logo-link--spage" href="#"></a>
          </li>
          <li class="team__item">
            <a class="team__logo-link team__logo-link--webflow" href="#"></a>
          </li>
          <li class="team__item">
            <a class="team__logo-link team__logo-link--rice" href="#"></a>
          </li>
          <li class="team__item">
            <a class="team__logo-link team__logo-link--aoob" href="#"></a>
          </li>
        </ul>
        <div class="team__more-inner">
          <a class="team__more-anchor" href="#">View Our Work</a>
        </div>
      </div>
    </div>
  </div>
  <div class="team__work team__work-container">
    <h4 class="team__work-subtitle big-title">Our work</h4>
    <ul class="team__work-list list-reset">
      <li class="team__work-item">
        <a class="team__item-link team__item-link--left" target="_blank" href="#">
          <img class="team__item-image" src="img/team-image-left.jpg" width="480" height="640" alt="">
        </a>
      </li>
      <li class="team__work-item">
        <a class="team__item-link team__item-link--center" target="_blank" href="#">
          <img class="team__item-image" src="img/team-image-center.jpg" width="480" height="640" alt="">
        </a>
      </li>
      <li class="team__work-item">
        <a class="team__item-link team__item-link--right" target="_blank" href="#">
          <img class="team__item-image" src="img/team-image-right.jpg" width="480" height="640" alt="">
        </a>
      </li>
    </ul>
    <div class="team__btn-inner">
      <a class="team__btn-link" href="#">All Project</a>
    </div>
  </div>
</section>
