<section class="team">
  <div class="container team__container">
    <div class="team__top">


      <div class="team__top-showreel flex">
        <img class="team__img-left" src="img/team-img-left.jpg" width="580" height="447" alt="">
        <div class="team__btn circle">
          <button class="text btn-reset">Play Showreel</button>
        </div>
        <img class="team__img-right" src="img/team-img-right.jpg" width="800" height="533" alt="">
      </div>

      <div class="team__descr flex">
        <h2 class="team__title title">
          We're a&nbsp; creative digital studio
        </h2>
        <div class="team__text-inner">
          <p class="team__text">
            We are a forward-thinking team of designers and developers driven by passion — and fuelled by curiosity.
          </p>
          <p class="team__text">
            We believe that the human dimensions essential to start any successful project and that this is where
            splendid emotional relationships between the company and people are born.
          </p>
          <a class="team__link-btn" href="#">Meet The Team</a>
        </div>
      </div>

      <div class="team__partners">
        <h3 class="team__subtitle centered">
          Teams and companies we work with
        </h3>
        <ul class="team__list list-reset">
          <li class="team__item">
            <a class="team__logo-link team__logo-link--snowflake" href="#"></a>
          </li>
          <li class="team__item">
            <a class="team__logo-link team__logo-link--mouf" href="#"></a>
          </li>
          <li class="team__item">
            <a class="team__logo-link team__logo-link--spage" href="#"></a>
          </li>
          <li class="team__item">
            <a class="team__logo-link team__logo-link--webflow" href="#"></a>
          </li>
          <li class="team__item">
            <a class="team__logo-link team__logo-link--rice" href="#"></a>
          </li>
          <li class="team__item">
            <a class="team__logo-link team__logo-link--aoob" href="#"></a>
          </li>
        </ul>
        <div class="team__more-inner">
          <a class="team__more-anchor" href="#">View Our Work</a>
        </div>
      </div>

    </div>
  </div>
  <div class="team__work">
    <h4 class="team__work-subtitle big-title">Our work</h4>
    <ul class="team__work-list list-reset">
      <li class="team__work-item">
        <a class="team__item-link team__item-link--left" href="#"></a>
      </li>
      <li class="team__work-item">
        <a class="team__item-link team__item-link--center" href="#"></a>
      </li>
      <li class="team__work-item">
        <a class="team__item-link team__item-link--right" href="#"></a>
      </li>
    </ul>
    <div class="team__btn-inner">
      <a class="team__btn-link" href="#">All Project</a>
    </div>
  </div>
</section>
