<section class="testimonials">
  <div class="container testimonials__container">
    <h2 class="testimonials__title title">Testimonials</h2>
    <ul class="testimonials__list list-reset">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <li class="testimonials__item">
              <img class="testimonials__author-image" src="img/testimonials-author-first.png" width="100" height="100"
                loading="lazy" alt="photo of the author of the review">
              <h3 class="testimonials__author-text">
                "Together with the Görm team, we&nbsp; have compiled a new product page."
              </h3>
              <span class="testimonials__author-name">John Doe</span>
              <span class="testimonials__author-position">Görm Customer</span>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="testimonials__item">
              <img class="testimonials__author-image" src="img/testimonials-author-first.png" width="100" height="100"
                loading="lazy" alt="photo of the author of the review">
              <h3 class="testimonials__author-text">
                "Together with the Görm team, we&nbsp; have compiled a new product page."
              </h3>
              <span class="testimonials__author-name">John Doe</span>
              <span class="testimonials__author-position">Görm Customer</span>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="testimonials__item">
              <img class="testimonials__author-image" src="img/testimonials-author-first.png" width="100" height="100"
                loading="lazy" alt="photo of the author of the review">
              <h3 class="testimonials__author-text">
                "Together with the Görm team, we&nbsp; have compiled a new product page."
              </h3>
              <span class="testimonials__author-name">John Doe</span>
              <span class="testimonials__author-position">Görm Customer</span>
            </li>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </ul>
  </div>
</section>
